<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.uwhealthkids.MediTrack"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" 
        android:name="org.uwhealthkids.MediTrack.CustomApplication">
        <activity
            android:name="org.uwhealthkids.MediTrack.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.uwhealthkids.MediTrack.SummActivity"
            android:label="@string/title_activity_summ" >
        </activity>
        <activity
            android:name="org.uwhealthkids.MediTrack.SummTFrameActivity"
            android:label="@string/title_activity_summ_tframe" >
        </activity>
        <activity
            android:name="org.uwhealthkids.MediTrack.ViewActivity"
            android:label="@string/title_activity_view" >
        </activity>
        <activity android:name="org.uwhealthkids.MediTrack.PatientActivity" >
        </activity>
        <activity android:name="org.uwhealthkids.MediTrack.DoctorMainActivity" >
        </activity>
        <activity android:name="org.uwhealthkids.MediTrack.GraphViewActivity" >
        </activity>
        <activity android:name="org.uwhealthkids.MediTrack.AddActivity" >
        </activity>
        <activity android:name="org.uwhealthkids.MediTrack.DefaultAddCharActivity" >
        </activity>
        <activity android:name="org.uwhealthkids.MediTrack.SeekBarAddCharActivity" >
        </activity>
        <activity android:name="org.uwhealthkids.MediTrack.MedicationAddActivity" >
        </activity>
        <activity android:name="org.uwhealthkids.MediTrack.ListviewActivity" >
        </activity>
        <activity android:name="org.uwhealthkids.MediTrack.SignUpActivities.SignUpActivity" >
        </activity>
        <activity android:name="org.uwhealthkids.MediTrack.SignUpActivities.SignUpBaby" >
            <intent-filter>
		        <action android:name="org.uwhealthkids.MediTrack.SignUpActivities.SignUpBaby" />
		        <category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
        </activity>
        <activity android:name="org.uwhealthkids.MediTrack.SignUpActivities.SignUpBabyInfo" >
        </activity>
        <activity android:name="org.uwhealthkids.MediTrack.SignUpActivities.DatePickerFragment" >
        </activity>
        <activity
            android:name="org.uwhealthkids.MediTrack.MainSummActivity"
            android:label="@string/title_activity_main_summ" >
        </activity>
        <activity android:name="org.uwhealthkids.MediTrack.FeedingAddActivity"></activity>
        <activity android:name="org.uwhealthkids.MediTrack.Preferences"></activity>
        <activity android:name="org.uwhealthkids.MediTrack.ViewActivitySelectDates"></activity>
        <activity android:name="org.uwhealthkids.MediTrack.SignUpActivities.SignUpPickDoc"> </activity>
         <activity android:name="org.uwhealthkids.MediTrack.SignUpActivities.SignUpFindBaby"> </activity>
    </application>

</manifest>
